<section class="regervation_part section_padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-5">
        <div class="section_tittle">
          <p>LOGIN</p>
          <h2>Let's Login</h2>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="regervation_part_iner">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="Name *"
                />
              </div>

              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  id="inputPassword4"
                  placeholder="password*"
                />
              </div>
            </div>

            <div class="regerv_btn">
              <a href="#" class="btn btn_4">LOGIN</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
